# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/next-app/node_modules*
/next-app/.pnp
/next-app/.pnp.js

# testing
/next-app/coverage

# next.js
/next-app/.next/
/next-app/out/

# production
/next-app/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
/next-app/.env*.local

# vercel
.vercel


Session.vim
